export GEODE_HOME=$(PWD)/geode/geode-assembly/build/install/apache-geode
export ENDPOINT_JAR=$(PWD)/endpoint/build/libs/simple-metrics-endpoint.jar

export MEMBERS_DIR=$(PWD)/members

export LOCATOR_NAME=locator
export LOCATOR_DIR=${MEMBERS_DIR}/${LOCATOR_NAME}

export SERVER_NAME=server
export SERVER_DIR=${MEMBERS_DIR}/${SERVER_NAME}

export LOCATOR_METRICS_PORT=9001
export SERVER_METRICS_PORT=9002

PATH_add scripts
PATH_add ${GEODE_HOME}/bin
