[submodule "client"]
	path = client
	url = git@github.com:demery-pivotal/spring-one-2019-client
[submodule "geode"]
	path = geode
	url = git@github.com:demery-pivotal/geode
[submodule "endpoint"]
	path = endpoint
	url = git@github.com:demery-pivotal/simple-metrics-endpoint
